/* grids for texts */
.grid-container {
  display: line-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item1 {
  padding: 30px;
  font-size: 180px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  background-color: transparent;
  padding: 30px;
}
.grid-item3 {
  padding: 30px;
  font-size: 150px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  padding: 30px;
  font-size: 100px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;;
}
.grid-item5 {
  padding: 30px;
  font-size: 75px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  padding: 30px;
  font-size: 65px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item7 {
  padding: 30px;
  font-size: 45px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
