.grid-container {
  display: line-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 180px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
}
.grid-item3 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 95px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 45px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;;
}
.grid-item5 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 34.88px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 19.84px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item7 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 15px;
  font-family: Kollektif;
  font-color: #EDB12D;
  text-align: center;
}
.woman-image {
  background-image: url("images/woman.png");
  background-color: transparent;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
