.grid-container {
  display: line-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item1 {
  opacity: 0.0;
  padding: 30px;
  font-size: 180px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  background-color: transparent;
  padding: 30px;
}
.grid-item3 {
  opacity: 0.0;
  padding: 30px;
  font-size: 95px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  opacity: 0.0;
  padding: 30px;
  font-size: 45px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;;
}
.grid-item5 {
  opacity: 0.0;
  padding: 30px;
  font-size: 34.88px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  opacity: 0.0;
  padding: 30px;
  font-size: 19.84px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item7 {
  opacity: 0.0;
  padding: 30px;
  font-size: 15px;
  font-family: Kollektif;
  font-color: #EDB12D;
  text-align: center;
}
.woman-image {
  width: 500px;
  align-self: center;
}
