.grid-container {
  display: line-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item1 {
  padding: 30px;
  font-size: 180px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  background-color: transparent;
  padding: 30px;
}
.grid-item3 {
  padding: 30px;
  font-size: 95px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  padding: 30px;
  font-size: 45px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;;
}
.grid-item5 {
  padding: 30px;
  font-size: 34.88px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  padding: 30px;
  font-size: 19.84px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item7 {
  padding: 30px;
  font-size: 10.84px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}
