h1 {
  color: #EDB12D;
  font-family: Kollektif, sans-serif;
  font-size: 180px;
  text-align: center;
}
h2 {
  color: #EDB12D;
  font-family: Kollektif, sans-serif;
  font-size: 71.53px;
  text-align: center;
}
h3 {
  color: #EDB12D;
  font-family: Kollektif, sans-serif;
  font-size: 40.26px;
  text-align: center;
}
h4 {
  color: #EDB12D;
  font-family: Kollektif, sans-serif;
  font-size: 34.88px;
  text-align: center;
}
h5 {
  color: #EDB12D;
  font-family: Kollektif, sans-serif;
  font-size: 20.84px;
  text-align: center;
}
h6 {
  color: #EDB12D;
  font-family: Kollektif, sans-serif;
  font-size: 10px;
  text-align: center;
}
img {
  position: relative;
  height: 0;
  width: 100%;
  margin-top: -100px;
  clear:both;
}
