/* grids for texts */
.grid-container {
  display: line-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item1 {
  padding: 30px;
  font-size: 400px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  background-color: transparent;
  padding: 100px;
}
.grid-item3 {
  padding: 30px;
  font-size: 275px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  padding: 30px;
  font-size: 155px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;;
}
.grid-item5 {
  padding: 30px;
  font-size: 75px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  padding: 70px;
  font-size: 50px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item7 {
  background-color: transparent;
  padding: 30px;
}
.grid-item8 {
  padding: 30px;
  font-size: 25px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.picture1 {
   width:100px; /*width of your image*/
   height:100px; /*height of your image*/
   background-image:url('woman.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}
