 body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #FFFBF2;
}

/* grids for texts */
.grid-container {
  display: line grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
}
.grid-item1 {
  padding: 30px;
  font-size: 355px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  background-color: transparent;
  padding: 100px;
}
.grid-item3 {
  padding: 30px;
  font-size: 275px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  padding: 30px;
  font-size: 155px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;;
}
.grid-item5 {
  padding: 30px;
  font-size: 75px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  padding: 70px;
  font-size: 50px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item7 {
  background-color: transparent;
  padding: 30px;
}
.grid-item8 {
  padding: 30px;
  font-size: 25px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}

/* visual elements */
.center {
  background-image: url("images/woman-circles.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}
