.grid-container {
  background-image: url("images/BREATHE_WEBSITE (1).png");
  background-repeat: no-repeat;
  background-position: center;
  display: line grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
}
.grid-item1 {
  padding: 30px;
  font-size: 355px;
  font-family: Kollektif;
  color: black;
  text-align: center;
}
.grid-item2 {
  padding: 20px;
  font-size: 255px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: left;
}
.grid-item3 {
  padding: 20px;
  font-size: 155px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: left;
}
.grid-item4 {
  padding: 20px;
  font-size: 75px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: left;
}
.grid-item5 {
  padding: 20px;
  font-size: 50px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: left;
}
.grid-item6 {
  padding: 30px;
  font-size: 25px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: left;
}
