.grid-container {
  background-color: black;
  display: line grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
}
.grid-item1 {
  padding: 30px;
  font-size: 355px;
  font-family: Kollektif;
  color: white;
  text-align: center;
}
.grid-item2 {
  padding: 20px;
  font-size: 255px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item3 {
  padding: 20px;
  font-size: 155px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item4 {
  padding: 20px;
  font-size: 75px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item5 {
  padding: 20px;
  font-size: 50px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.grid-item6 {
  padding: 30px;
  font-size: 25px;
  font-family: Kollektif;
  color: #e6ac00;
  text-align: center;
}
.image_block    {
    width: 175px;
    height: 175px;
    position: relative;
}
.image_block a  {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
body {
  background-color: #FFFBF2;
}
